<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <title>Home - AiQuestORG</title>
  </head>
  <body>
    <header class="navbar">
      <div>
        <div class="logo">
          <img
            src="{% static 'img/logo.png' %}"
            alt="AiQuestORG Logo"
            class="logo-image"
          />
        </div>
        <nav class="nav-links">
          <a href="{% url 'home' %}">Home</a>
          <div class="dropdown-container">
            <a href="#" class="dropdown-toggle"
              >LIVE Courses <span class="arrow">▼</span></a
            >
            <div class="dropdown-menu">
              <a href="#">Linear Algebra for AI & Data Science</a>
              <a href="#">Become a Python Developer</a>
              <a href="#">Become a Big Data Engineer</a>
              <a href="#">Data Analysis Specialization</a>
              <a href="#">Data Science & Machine Learning</a>
              <a href="#">Deep Learning & Generative AI</a>
              <a href="#">Python Backend API Development</a>
              <a href="#">Applied Statistics for Data Scientists</a>
            </div>
          </div>
          <a href="{% url 'blogs' %}">Blogs</a>
          <a href="{% url 'contact' %}">Contact</a>
        </nav>
      </div>
    </header>

    <main class="hero-section">
      <div>
        <div class="content-left">
          <h1 class="headline-bengali">
            শিক্ষা হোক <br />
            মাতৃভাষায়!
          </h1>
          <a href="#" class="btn-courses">ফ্রি কোর্সসমূহ</a>
          <p class="tagline-bengali">
            অলরেডি অনেক দেরি হয়ে গিয়েছে, <br />
            আর কবে শুরু করবেন?
          </p>
        </div>
        <div class="graphic-right">
          <div class="abstract-brain">
            <img
              src="{% static 'img/ai.png' %}"
              alt="Abstract Brain"
              class="brain-image"
            />
          </div>
        </div>
      </div>
    </main>

    <section>
      <div class="section">
        <div class="content-container">
          <div class="title-group">
            <h1 class="title">আমাদের লাইভ কোর্সগুলো</h1>
          </div>

          <p class="title-description">
            মাতৃভাষায় লাইভ কোর্সের মাধ্যমে পাইথন, ডেটা সাইন্স, মেশিন লার্নিং,
            ডিপ লার্নিং, জেনারেটিভ এ.আই, পরিসংখ্যান, ডেটা এনালাইসিস, ডেটা
            ইঞ্জিনিয়ারিং এবং ওয়েব ডেভেলপমেন্ট শিখি!
          </p>
          <span class="underline-divider"></span>
        </div>
      </div>

      <div class="course-container">
        <!-- 1 -->
        <div class="course-card">
          <img
            src="{% static 'img/1.png' %}"
            alt="Course 1"
            class="course-image"
          />
          <p class="course-title">Become a Python Developer</p>
        </div>

        <!-- 2 -->
        <div class="course-card">
          <img
            src="{% static 'img/2.png' %}"
            alt="Course 2"
            class="course-image"
          />
          <p class="course-title">Data Analysis Specialization</p>
        </div>

        <!-- 3 -->
        <div class="course-card">
          <img
            src="{% static 'img/3.png' %}"
            alt="Course 3"
            class="course-image"
          />
          <p class="course-title">A-Z Statistics for Data Science</p>
        </div>

        <!-- 4 -->
        <div class="course-card">
          <img
            src="{% static 'img/4.png' %}"
            alt="Course 4"
            class="course-image"
          />
          <p class="course-title">
            Data Science & Machine Learning With Python
          </p>
        </div>

        <!-- 5 -->
        <div class="course-card">
          <img
            src="{% static 'img/5.png' %}"
            alt="Course 5"
            class="course-image"
          />
          <p class="course-title">Deep Learning & Generative AI</p>
        </div>

        <!-- 6 -->
        <div class="course-card">
          <img
            src="{% static 'img/6.png' %}"
            alt="Course 6"
            class="course-image"
          />
          <p class="course-title">
            Django & Backend API Development with Python
          </p>
        </div>
      </div>

      <div class="btn-wrapper">
        <button class="btn-load-more">সকল কোর্স দেখুন</button>
      </div>
    </section>

    <section class="blog-section">
      <h2 class="section-title">সাম্প্রতিক ব্লগ পড়ুন</h2>

      <div class="blog-grid">
        <article class="blog-card">
          <h3 class="card-title">AI/ML - Research কিভাবে বিলেডেড?</h3>
          <p class="card-snippet">
            এইটা একটা research অংশ যাহাকে এইখানে কোনো সমস্যাকে সহজভাবে ভেবে,
            ব্যবহৃত experiment চালিয়ে নতুন Finding বের করা, এবং সেই finding-কে
            সহজে উপস্থাপন...
          </p>
          <a href="#" class="read-more-link">Read More</a>
        </article>

        <article class="blog-card">
          <h3 class="card-title">OpenAI GPT OSS-120B Model</h3>
          <p class="card-snippet">
            AI ভবিষ্যতে নতুন করে সাহায্য করেছে OpenAI-এর নতুন open-source model
            GPT-OSS 120B এন্মারে আছে 120 billion parameters কিন্তু এর সাহায্যে
            আমাদেরকে দ্রুত দিক রইল...
          </p>
          <a href="#" class="read-more-link">Read More</a>
        </article>

        <article class="blog-card">
          <h3 class="card-title">
            পরিসংখ্যান (Statistics), লিনিয়ার আলজেব্রা (Linear Algebra),
            ক্যালকুলাস (Calculus)
          </h3>
          <p class="card-snippet">
            ডেটা অন্বেষণ ও মেশিন লার্নিং গুরুত্ব পূর্ণ সময় আমাদেরকে একটি চমৎকার
            জগতে থাকে – তা হলো পরিসংখ্যান (Statistics), লিনিয়ার আলজেব্রা (Linear
            Algebra)...
          </p>
          <a href="#" class="read-more-link">Read More</a>
        </article>
      </div>

      <a href="#" class="cta-button">সব ব্লগ পড়ুন</a>
    </section>

    <footer class="footer">
      <div class="footer-container">
        <!-- Column 1 -->
        <div class="footer-logo-section">
          <div class="logo-container">
            <img
              src="{% static 'img/logo.png' %}"
              alt="AiQuestORG Logo"
              class="footer-logo"
            />
          </div>
          <p>
            Embarking on a data science career journey? Look no further than
            AIQuest Intelligence, the premier destination for top-notch data
            science courses in Bangladesh.
          </p>
          <div class="social-links">
            <a href="#" class="social-link-icon">f</a>
            <a href="#" class="social-link-icon">X</a>
            <a href="#" class="social-link-icon">in</a>
            <a href="#" class="social-link-icon">►</a>
          </div>
        </div>

        <!-- Column 2 -->
        <div class="footer-links-section">
          <h3>Quick Link</h3>
          <ul class="quick-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>

        <!-- Column 3 -->
        <div class="footer-contact-section">
          <h3>Contact</h3>
          <ul class="contact-details">
            <li>
              Email:
              <a class="link" href="mailto:contact@aiquest.org"
                >contact@aiquest.org</a
              >
            </li>
            <li>
              Address: Panthapath, Dhaka - 1205, <br />
              Bangladesh
            </li>
            <li>
              Call: +8801704265972; <br />
              +8801757260272
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
